:root {
  --player-color: red;
  --goal-color: brown;
  --floor-color: lightgrey;
  --wall-color: #a7dbd8;
}

* {
  padding: 0;
  margin: 0;
  font-size: 20px;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: 0.2s ease;
  text-align: center;
}

/* when body have success class add green background */
body.success {
  background-color: #b7f0b7;
  transition: 0.2s ease;
}

.game-container {
  margin: 50px auto;
}

#map-and-controls {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

p {
  margin: 10px 0;
  padding: 0px;
}

.game-map {
  position: relative;
  margin: 0px auto;
}

div.layer,
div.layer div {
  position: absolute;
}

#tiles div {
  border: 1px solid grey;
}

.default .floor {
  backdrop-filter: var(--floor-color);
}

.default .wall {
  background-color: var(--wall-color);
}

.player,
.goal {
  transform-origin: center;
  transform: scale(0.85);
  border-left: 26px solid transparent;
  border-right: 26px solid transparent;
}

.player {
  border-bottom: 52px solid #01befe;
}

.goal {
  border-top: 52px solid #ff4f00;
}

/* animation for smooth movement */
.player {
  transition: left 0.2s linear, top 0.2s linear;
}

/* success message */
#success-msg {
  opacity: 0;
  transition: opacity 0.2s ease;
  position: absolute;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: calc(100%-8px);
}

body.success #success-msg {
  opacity: 1;
  transition: opacity 0.2 ease;
}
