:root {
  --player-color: red;
  --goal-color: brown;
  --floor-color: lightgrey;
  --wall-color: #2a3468;
  --tiles-color: #B2B2B2;
  /* quiz vars */
  --hue-neutral: 200;
  --hue-wrong: 0;
  --hue-correct: 145;
}

* {
  padding: 0;
  margin: 0;
  font-size: 20px;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  transition: 0.2s ease;
  text-align: center;
  position: relative;
}

/* when body have success class add green background */
body.success {
  /* background-color: #b7f0b7; */
  transition: 0.2s ease;
  background-color: rgba(0, 0, 0, 0.5);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.game-container {
  margin: 40px auto;
}

#map-and-controls {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

p {
  margin: 10px 0;
  padding: 0px;
}

.game-map {
  position: relative;
  margin: 0px auto;
}

div.layer,
div.layer div {
  position: absolute;
}

#tiles div {
  border: 1px solid var(--tiles-color);
}

.default .floor {
  backdrop-filter: var(--floor-color);
}

.default .wall {
  background-color: var(--wall-color);
}

.player,
.goal {
  transform-origin: center;
  transform: scale(0.85);
  border-left: 26px solid transparent;
  border-right: 26px solid transparent;
}

.player {
  border-bottom: 52px solid #01befe;
}

.goal {
  border-top: 52px solid #ff4f00;
}

/* animation for smooth movement */
.player {
  transition: left 0.2s linear, top 0.2s linear;
}

/* success message */
/* #success-msg {
  opacity: 0;
  transition: opacity 0.2s ease;
  position: absolute;
  padding: 5px 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: calc(100%-8px);
} */

body.success #success-msg {
  opacity: 1;
  transition: opacity 0.2 ease;
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

/* Quiz style */
.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  /* box-shadow: 0 0 10px 2px; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

#question {
  margin: 10px auto 25px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  /* --hue: var(--hue-neutral); */
  border: 1px solid #01befe;
  background-color: #01befe;
  border-radius: 5px;
  padding: 5px 10px;
  color: #EFF5F5;
  outline: none;
}

.btn:hover {
  border-color:var(--wall-color);
}

.btn.correct {
  background-color: #4caf50;
  /* color: black; */
}

.btn.wrong {
  background-color: #ef5350;

}

.start-btn,
.next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  visibility: none;
}

.show {
  visibility: visible;
}
